{% extends "blog/layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>JY Blog♥</h1>
            <table class="table table-hover table-bordered">
                <tbody>
                {% for post in post_list %}
                <tr>
                    <td>
                        <a href="{% url "blog:post_detail" post.pk %}">
                            {{ post.title }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url "blog:post_new" %}"><h6>글 작성하기</h6></a>
        </div>
    </div>
</div>
{% endblock %}